[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

[*.java]
ij_java_blank_lines_after_anonymous_class_header = 1
ij_java_blank_lines_after_class_header = 1
ij_java_blank_lines_before_class_end = 1
ij_java_imports_layout = *, |, javax.**, java.**, |, io.github.mimoguz.layeredfonticon.**, |, $*
ij_java_generate_final_locals = true
ij_java_while_brace_force = always
ij_java_do_while_brace_force = always
ij_java_if_brace_force = always
ij_java_for_brace_force = always
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand =
